@use "../global/_global";

// Banner
.banner {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;

  min-height: 290px;
  padding: 160px 60px 40px;

  text-align: center;
  color: var(--color-main);

  background-color: var(--color-accent);
  background-image: url("../../img/background/background-gift-mobile-1@1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include global.tablet {
    min-height: 200px;
    padding: 60px 75px 60px 420px;
  }

  @include global.desctop {
    height: 100%;
    padding: 160px 40px 40px;
  }

  &::before {
    content: "";
    position: absolute;

    width: 100%;

    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: var(--color-accent);

    opacity: 0.85;
  }

  &::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;

    width: 78px;
    height: 80px;

    background-image: url("../../img/icon/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transform: translateX(-50%);

    @include global.tablet {
      top: 50%;
      left: 75px;

      transform: translate(-50%, -50%);
    }

    @include global.desctop {
      top: 60px;
      left: 50%;

      transform: translateX(-50%);
    }
  }
}

// Bannet Text
.banner__text {
  position: relative;
  z-index: 10;

  margin: 0;

  @include global.tablet {
   align-self: center;
  }
}
