// Button
.button {
  display: inline-block;
  padding: 14px 26px;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-main);

  background-color: var(--color-accent);
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    background-color: var(--color-accent-dark);
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    color: var(--color-main-03);
    // background-color: var(--color-accent-dark);
  }
}

// Button Secondary
.button-sceondary {
  display: inline-block;
  padding: 14px 26px;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark-lighten);

  background-color: var(--color-neutral);
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    background-color: var(--color-neutral-lighten);
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    color: var(--color-dark-lighten-03);
  }
}

// Button Header
.button-header {
  display: inline-block;
  padding: 20px;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);

  background-color: var(--color-main);
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    color: var(--color-dark-06);
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    color: var(--color-dark-03);
    // background-color: var(--color-accent-dark);
  }
}

// Button More
.button-more {
  display: inline-block;
  padding: 4px 9px 4px 0;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);

  background-color: var(--color-main);
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    color: var(--color-dark-06);
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    color: var(--color-dark-03);
    // background-color: var(--color-accent-dark);
  }
}
