@use "../global/_global";

// Button
.button {
  display: inline-block;
  padding: 14px 26px;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--color-main);

  background-color: var(--color-accent);
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  @include global.tablet {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    background-color: var(--color-accent-dark);
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    color: var(--color-main-03);
    // background-color: var(--color-accent-dark);
  }
}

// Button Secondary
.button-sceondary {
  display: inline-block;
  padding: 14px 26px;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark-lighten);

  background-color: var(--color-neutral);
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    background-color: var(--color-neutral-lighten);
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    color: var(--color-dark-lighten-03);
  }
}

// Button Header
.button-header {
  display: inline-block;
  padding: 20px;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);

  background-color: var(--color-main);
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, outline, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  @include global.tablet {
    padding: 0;

    font-size: 18px;
    line-height: 24px;

    background-color: transparent;
  }

  @include global.desctop {
    font-size: 20px;
  }

  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    color: var(--color-dark-06);
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    color: var(--color-dark-03);
    // background-color: var(--color-accent-dark);
  }
}


// Button Header Current
.button-header--current {
  color: var(--color-accent);

  cursor: auto;

  &:hover,
  &:--hover {
    color: var(--color-accent);
  }

  @include global.tablet {
    position: relative;

    color: var(--color-dark);

    &:hover,
    &:focus,
    &:--hover,
    &:--focus {
      color: var(--color-dark);
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;

      height: 2px;
      width: 100%;

      background-color: var(--color-accent);
    }
  }
}

// Button Header Hero
.button-header--hero {
  @include global.desctop {
    color: var(--color-main);

    &:hover,
    &:focus,
    &:--hover,
    &:--focus {
      color: var(--color-main);

      opacity: 0.8;
    }

    &:active,
    &:--active {
      color: var(--color-main);

      opacity: 0.3;
    }
  }
}

// Button Header Hero Current
.button-header--hero-current {
  @include global.desctop {
    color: var(--color-main);

    &:hover,
    &:focus,
    &:--hover,
    &:--focus {
      opacity: 1;
    }


    &::before {
      content: "";
      background-color: var(--color-main);
    }
  }
}


// Button More
.button-more {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 70px 0 25px;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: var(--color-dark);

  background-color: var(--color-main);
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;


  @include global.tablet {
    padding: 40px;
    padding-top: 170px;
  }

  @include global.desctop {
    padding-top: 160px;
    padding-bottom: 50px;
  }

  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    color: var(--color-dark-06);
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    color: var(--color-dark-03);
    // background-color: var(--color-accent-dark);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 35px;

    width: 30px;
    height: 2px;

    background-color: var(--color-neutral-darken);

    @include global.tablet {
      width: 60px;

      top: 80px;
    }
  }

  &::before {
    content: "";
    transform: rotate(90deg);
  }
}

// Button More Title
.button-more__title {
  margin-bottom: 8px;

  text-transform: uppercase;

  @include global.tablet {
    margin-bottom: 20px;
  }
}

// Button More Text
.button-more__text {
  margin-bottom: 20px;

  line-height: 30px;

  @include global.tablet {
    font-size: 16px;
    line-height: 18px;
  }
}

// Button More Button
.button-more__button {
  width: 100%;
  margin-top: auto;
  padding: 14px 26px;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark-lighten);

  background-color: var(--color-neutral);
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.button-more:hover .button-more__button,
.button-more:focus .button-more__button,
.button-more--hover .button-more__button,
.button-more--focus .button-more__button {
  background-color: var(--color-neutral-lighten);
}


.button-more:active .button-more__button,
.button-more--active .button-more__button {
  color: var(--color-dark-03);
}

// Button Info
.button-info {
  display: grid;
  grid-template-columns: max-content 32px;
  gap: 25px;
  align-items: center;

  padding: 4px 0;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);

  background-color: transparent;
  outline: 3px solid transparent;
  outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: color, outline, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  // &:hover,
  // &:focus,
  // &:--hover,
  // &:--focus {

  // }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    opacity: 0.3;
  }
}

// Button Info Arrow
.button-info__arrow {
  position: relative;

  width: 32px;
  height: 12px;

  overflow: hidden;
}

// Button Info Image
.button-info__image {
  position: absolute;
  top: 0;

  transform: translateX(-8px);

  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.button-info:hover .button-info__image,
.button-info--hover .button-info__image,
.button-info:focus .button-info__image,
.button-info--focus .button-info__image {
  transform: translateX(0px);
}
