@use "../global/_global";

// Catalog Additional
.catalog-additional {

}

// Catalog Additional Wrapper
.catalog-additional__wrapper {
  @include global.desctop {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 80px;
  }
}

// Catalog Additional Container
.catalog-additional__container {
  padding: 25px var(--p-l-r) 35px;
}

// Catalog Additional Title
.catalog-additional__title {
  margin: 0;
  margin-bottom: 36px;
}


// Catalog Additional List
.catalog-additional__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;

  @include global.desctop {
    margin: 0;

  }
}

// Catalog Additional Item
.catalog-additional__item {
  border-bottom: 1px solid var(--color-neutral-darken);

  &:first-child {
    border-top: 1px solid var(--color-neutral-darken);
  }

  @include global.tablet {
    border-right: 1px solid var(--color-neutral-darken);
    border-left: 1px solid var(--color-neutral-darken);
  }

  @include global.tablet {
    border-right: none;
    border-left: none;
  }
}
