@use "../global/_global";

// Logo
.logo {
  display: inline-block;

  outline: 3px solid transparent;
  border: none;

  cursor: pointer;

  transition-property: opacity, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;


  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    opacity: 0.8;
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    opacity: 0.6;
  }
}

// Logo Image
.logo__image {

  @include global.tablet {
    width: 174px;
    height: 59px;
  }

  @include global.desctop {
    width: 202px;
    height: 59px;
  }

  &--mobile {
    @include global.tablet {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @include global.tablet {
      display: block;
    }

    @include global.desctop {
      display: none;
    }
  }

  &--desctop {
    display: none;

    @include global.desctop {
      display: block;
    }
  }
}

// Logo Footer
.logo-footer {
  display: inline-block;
  outline: 3px solid transparent;
  border: none;

  cursor: pointer;

  transition-property: opacity, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus,
  &:--hover,
  &:--focus {
    opacity: 0.8;
  }

  &:focus-visible,
  &:--focus-visible {
    outline-color: var(--color-focus);
  }

  &:active,
  &:--active {
    opacity: 0.6;
  }
}

// Logo Footer Current
.logo-footer--current {
  cursor: auto;

  &:hover,
  &:--hover {
    opacity: 1;
  }
}
