@use "../global/_global";

// Main Header
.main-header {
  background-color: var(--color-main);

  // &--opened {
  // }

  // &--closed {
  // }

  @include global.tablet {
    background-color: transparent;
  }
}

// Main Header Hero
.main-header--hero {
  @include global.desctop {
    position: absolute;
    z-index: 100;
    right: 0;
    left: 0;

    width: 100%;
  }
}

// Main Header Container
.main-header__container {
  @include global.tablet {
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 60px;

    padding: 25px var(--p-l-r);
  }

  @include global.desctop {
    grid-template-columns: 200px 1fr;
    gap: 80px;
  }
}

// Main Header Container Hero
.main-header__container--hero {
  @include global.desctop {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

// Main Header Top
.main-header__top {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  column-gap: 10px;

  padding: 10px var(--p-l-r) 15px;

  @include global.tablet {
    display: flex;
    align-items: start;

    padding: 0;
  }
}

// Main Header Logo
.main-header__logo {
  // margin-bottom: 15px;
}

// Main Header Logo Current
.main-header__logo--current {
  cursor: auto;

  &:hover {
    opacity: 1;
  }
}

// Main Header Toogle
.main-header__toogle {
  position: relative;

  width: 40px;
  height: 40px;

  // padding: 14px 26px;

  // outline: 3px solid transparent;
  // outline-offset: 0;
  border: none;

  cursor: pointer;

  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  background-color: transparent;
  // background-color: red;

  &:active {
    opacity: 0.5;
  }

  @include global.tablet {
    display: none;
  }
}

@include global.mobile-only {
  .main-header--opened .main-header__toogle {
    &::before {
      content: "";
      position: absolute;
      // z-index: 2;
      // top: 50%;
      top: 12px;
      left: 50%;

      width: 24px;
      height: 2px;

      background-color: var(--color-dark);
      box-shadow: 0 8px 0 var(--color-dark), 0 16px 0 var(--color-dark);

      transform: translateX(-50%);
    }
  }

  .main-header--closed .main-header__toogle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      // z-index: 2;
      // right: 0;
      // top: 10px;

      top: 50%;
      left: 50%;

      width: 30px;
      height: 2px;

      // transform-origin: center;
      // transform: translate(-50%, -50%) rotate(45deg);

      background-color: var(--color-dark);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.main-header--opened .main-header__toogle {
}
