@use "../global/_global";

// Slider Compare
.slider-compare {
  position: relative;

  // margin: 0 auto;

  // width: 280px;
  // height: 256px;

  overflow: hidden;

  width: 100%;
  max-width: 560px;
}

// Slider Compare Container
.slider-compare__container {
  width: 100%;
  height: 100%;
  padding-bottom: 91.75%;
}

// Slider Compare Image
.slider-compare__image {
  position: absolute;
  top: 0;
  // right: 0;
  bottom: 0;
  // left: 0;

  // width: 100%;
  // height: 100%;

  background-repeat: no-repeat;
  // background-position: center;
  // width: 50%;
  background-size: cover;

  &--before {
    left: 0;

    width: 50%;

    background-image: url("../../img/slider/compare/slider-compare_before-mobile-1@1.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/slider/compare/slider-compare_before-mobile-1@2.png");
    }

    @include global.tablet {
      background-image: url("../../img/slider/compare/slider-compare_before-tablet-1@1.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/slider/compare/slider-compare_before-tablet-1@2.png");
      }
    }
  }

  &--after {
    right: 0;

    width: 50%;

    background-image: url("../../img/slider/compare/slider-compare_after-mobile-1@1.png");
    background-position: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/slider/compare/slider-compare_after-mobile-1@2.png");
    }

    @include global.tablet {
      background-image: url("../../img/slider/compare/slider-compare_after-tablet-1@1.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/slider/compare/slider-compare_after-tablet-1@2.png");
      }
    }
  }
}

// Slider Compare Change
.slider-compare__change {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 3;
  width: 38px;
  height: 100%;

  border: none;
  outline: none;

  transform: translateX(-50%);

  cursor: pointer;

  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:active,
  &--active {
    opacity: 0.6;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    height: 100%;

    border-radius: 2px;

    background-color: var(--color-dark-darken);

    transform: translateX(-50%);

    transition-property: background-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &:hover::before,
  &--hover::before,
  &:focus::before,
  &--focus::before {
    background-color: var(--color-accent);
  }
}

// Slider Compare Icon
.slider-compare__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  color: var(--color-dark-darken);

  transform: translate(-50%, -50%);

  transition-property: color, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.slider-compare__change:hover .slider-compare__icon,
.slider-compare__change--hover .slider-compare__icon,
.slider-compare__change:focus .slider-compare__icon,
.slider-compare__change--focus .slider-compare__icon {
  color: var(--color-accent);
}
