@use "../global/_global";

// Steps
.steps {
  display: grid;
  row-gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: steps-number 0;

  @include global.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
  }

  @include global.desctop {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 80px;
  }
}

// Stepst Items
.steps__item {
  position: relative;

  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;

  align-items: center;

  color: var(--color-dark-lighten);

  &::after {
    content: "";
    position: relative;
    z-index: 2;

    align-self: start;
    grid-column-start: 1;
    grid-row-start: 1;
    display: block;
    width: 60px;
    height: 60px;
    padding: 24px;

    background-color: var(--color-accent);
    background-repeat: no-repeat;
    background-position: center;

    @include global.tablet {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf {
    &::after{
      background-image: url("../../img/icon/advantages-icon-leaf.svg");
    }
  }

  &--water {
    &::after{
      background-image: url("../../img/icon/advantages-icon-water.svg");
    }
  }

  &--eat {
    &::after{
      background-image: url("../../img/icon/advantages-icon-eat.svg");
    }
  }

  &--time {
    &::after{
      background-image: url("../../img/icon/advantages-icon-time.svg");
    }
  }

  @include global.tablet {
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    gap: 30px;

    padding-top: 40px;
    min-height: 280px;

    counter-increment: steps-number;

    &::before {
      content: counter(steps-number);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;

      font-family: var(--font-family, sans-serif);
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: var(--color-neutral);
    }
  }
}

// Stepst Text
.steps__text {
  margin: 0;

  color: var(--color-dark-lighten);

  @include global.tablet {
    grid-column: 1/-1;
    grid-row: 2/-1;

    align-self: start;

    font-size: 16px;
    line-height: 24px;
  }
}
