@use "_mixins";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;

  margin: 0;
  // min-width: 320px;
  min-height: 100%;

  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-dark);

  background-color: var(--color-main);
}

.page__container {
  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
  box-shadow: 0 0 15px var(--color-dark);

  // @media (min-width: var(--width-tablet)) {
  //   width: $width-tablet;
  // }

  // @media (min-width: var(--width-desctop)) {
  //   width: $width-desctop;
  // }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


// Если используете на сайте position: sticky - уберите эту настройку
.container {
  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  max-width: 340px;
  // min-height: 100vh;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;

  background-color: var(--color-main);
  box-shadow: 0 0 15px var(--color-dark);

  // overflow: hidden;
}

// .container {
//   margin: 0 auto;

// }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  @include mixins.visually-hidden();
}

// .btn-reset {
//   border: none;
//   padding: 0;
//   background-color: transparent;
//   cursor: pointer;
// }

// .list-reset {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .input-reset {
//   -webkit-appearance: none;
//   appearance: none;
//   border: none;
//   border-radius: 0;
//   background-color: #fff;

//   &::-webkit-search-decoration,
//   &::-webkit-search-cancel-button,
//   &::-webkit-search-results-button,
//   &::-webkit-search-results-decoration {
//     display: none;
//   }
// }
