:root {
  // Base
  --font-family: "Lato", sans-serif;
  --font-family-accent: "Oswald", sans-serif;
  --content-width: 1160px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // Colors
  --color-main: #FFFFFF;

  --color-dark-lighten: #444444;
  --color-dark: #000000;
  --color-dark-darken: #666666;

  --color-neutral-lighten: #EBEBEB;
  --color-neutral: #F2F2F2;
  --color-neutral-darken: #CDCDCD;

  --color-status-error: #FF8282;

  --color-accent: #68B738;

  // Width
  --width-mobile: 320px;

  --width-mobile-only: 767px;

  --width-tablet: 768px;

  --width-desctop: 1200px;

  // Padding
  --p-l-r: 20px;

  --p-l-r-tablet: 60px;

  --p-l-r-desctop: 110px;
}
